* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #060c16;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0c1825;
}
::-webkit-scrollbar-thumb {
  background: #1a3a55;
  border-radius: 3px;
}